.header {
    background-color: aqua;
    padding: 25px; text-align: center;
}



.navbar a:hover {
    background-color:rgb(155, 214, 18);
}

.card:hover {
         transform: scale(1.15);
}

.card{
    transition: all 0.3s;
}