.header {
    background: rgb(214, 242, 205);
    background: linear-gradient(90deg, rgba(214, 242, 205, 0.4318102240896359) 0%, rgba(238, 238, 247, 0.87718837535014) 0%, rgba(250, 231, 226, 1) 100%, rgba(56, 107, 161, 1) 100%, rgba(68, 230, 231, 1) 100%, rgba(192, 162, 232, 1) 100%, rgba(183, 146, 224, 1) 100%, rgba(131, 58, 180, 1) 100%, rgba(127, 126, 129, 1) 100%);
    padding: 10px;
    text-align: center;
}

.navbar a:hover {
    background: rgb(36,40,159);
    background: linear-gradient(90deg, rgba(36,40,159,0.4318102240896359) 0%, rgba(215,213,233,1) 0%, rgba(14,103,196,1) 0%, rgba(192,162,232,1) 0%, rgba(123,151,213,1) 0%, rgba(21,28,28,1) 99%); 
    border-radius: 5px;
    cursor: pointer;
    color:white;
}

.card:hover {
    transform: scale(1.12);
    border-radius: 50px;
    background: rgb(37, 37, 46);
    background: linear-gradient(90deg, rgba(36, 40, 159, 0.4318102240896359) 0%, rgba(221, 220, 231, 1) 0%, rgba(212, 249, 247, 1) 100%, rgba(31, 31, 237, 0.87718837535014) 100%, rgba(250, 231, 226, 1) 100%, rgba(56, 107, 161, 1) 100%, rgba(68, 230, 231, 1) 100%, rgba(192, 162, 232, 1) 100%, rgba(183, 146, 224, 1) 100%, rgba(131, 58, 180, 1) 100%);
}

.card {
    transition: all 0.3s;
}
/* Effect in all dashboard for School Year Dropbox */
#sy {
    width: 250px;
}
/* End */

.active {
    background: rgb(36, 40, 159);
    background: linear-gradient(90deg, rgba(36, 40, 159, 0.4318102240896359) 0%, rgba(221, 220, 231, 1) 0%, rgba(212, 249, 247, 1) 100%, rgba(31, 31, 237, 0.87718837535014) 100%, rgba(250, 231, 226, 1) 100%, rgba(56, 107, 161, 1) 100%, rgba(68, 230, 231, 1) 100%, rgba(192, 162, 232, 1) 100%, rgba(183, 146, 224, 1) 100%, rgba(131, 58, 180, 1) 100%);
    border-radius: 5px;
}

.body-bg-color {
    background: rgb(36,40,159);
background: linear-gradient(90deg, rgba(36,40,159,0.4318102240896359) 0%, rgba(215,213,233,1) 0%, rgba(192,162,232,1) 0%, rgba(189,243,244,1) 0%, rgba(227,199,191,1) 100%, rgba(56,107,161,1) 100%);
     }
/* All School Forms specifically in Search Student */
.search-margin-l {
    margin-left: 113px;
}
/* End */

a:hover {
    
    background: rgb(36,40,159);
background: linear-gradient(90deg, rgba(36,40,159,0.4318102240896359) 0%, rgba(215,213,233,1) 0%, rgba(192,162,232,1) 0%, rgba(246,251,251,1) 0%, rgba(244,248,252,1) 100%, rgba(227,199,191,1) 100%);
    cursor: pointer;
}
 
